<link rel="stylesheet" href="/static/css/login.css">

<div id="main-box">
<div id="left-box">
	<img src="/static/img/flavor.jpeg" class="flavor">
</div>
<div id="right-box">
	<div class="page-logo">
		<img src="/static/img/omsilog-black.png" class="omsilog">
	</div>
	<form class="inputs">
		<div class="username">
			<input id="username" type="text" class="input" placeholder="Username" required/>
		</div>
		<div class="password">
			<input id="password" type="password" class="input" placeholder="Password" required/>
		</div>
		<div class="form-group form-check">
			<input type="checkbox" class="form-check-input" id="rMe">
		<span class="remember-me">Remember me</span>
		</div>
		<div class="submit">
			<button class="login" id="submit">Log in</button>
			<a href="#soon" data-bs-toggle="modal" class="forgot">forgot password?</a>
		</div>
	</form>
	<div class="signin-option">
		<span class="sign-in-with">Sign in with</span>
		<div>
			<a href="#soon" data-bs-toggle="modal"><img src="/static/img/google.png" class="logo g"></a>
			<a href="#soon" data-bs-toggle="modal"><img src="/static/img/apple.png" class="logo"></a>
			<a href="#soon" data-bs-toggle="modal"><img src="/static/img/discord.png" class="logo"></a>
			<!-- Modal -->
			<div class="modal fade" id="soon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">Hey there!</h1>
						</div>
						<div class="modal-body">
							This feauture is still under construction and will be fully functional on the website as soon as possible!
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="register">
			<span>Don't have an account yet?</span>
			<a href="/register">Sign up here!</a>
		</div>
	</div>
</div>
</div>