<link rel="stylesheet" href="static/css/search.css">

<div class="welcome-container">
    <div class="welcome-text">Looking for Something?</div>
    <div class="welcome-background"></div>
</div>
<div class="search-container">
    <div class="search-bar">
        <form action="/search" method="GET">
            <input type="text" name="search" id="search-box" placeholder="Search anything!">
        </form>
        {{!-- <a id="search-icon-container" href="">
            <img id="search-icon" src="static/img/search-icon.png">
        </a> --}}
    </div>
    <div class="filter-container">
        <div class="filter-btn-container">
            <button class="filter-btn" id="type-btn">
                Type
            </button>
            <div class="filter-dropdown" id="type">
                <button id="btn-search-posts">Posts</button>
                <button id="btn-search-users">Users</button>
            </div>
        </div>

        <div class="filter-btn-container">
            <button class="filter-btn" id="sort-btn">
                Sort By
            </button>
            <div class="filter-dropdown" id="sort">
                <button id="btn-most-votes">Most Upvoted</button>
                <button id="btn-least-votes">Least Upvoted</button>
                <button id="btn-recent">Recent</button>
                <button id="btn-oldest">Oldest</button>
            </div>
        </div>

        <div class="filter-btn-container">
            <button class="filter-btn" id="tags-btn">
                Tags
            </button>
            <div class="filter-dropdown" id="tagsf">
                <button id="btn-ann">(All)</button>
                <button id="btn-ann">Announcements</button>
                <button id="btn-mem">Meme</button>
                <button id="btn-rev">Review</button>
                <button id="btn-que">Query</button>
                <button id="btn-met">Meta</button>
            </div>
        </div>
    </div>
</div>
<div class="main-container">
    <!--short links on left side-->
    <aside class="side-nav-container">
        <ul class="side-nav">
            <li class="latest">
                <a class="" href="http://localhost:3000/search?sort=date">
                    <i class="bi bi-list"></i>
                    <span class="sidebar-label">Latest</span>
                </a>
            </li>
            <li class="top-voted">
                <a class="" href="http://localhost:3000/search?sort=upvoteList">
                    <i class="bi bi-graph-up-arrow"></i>
                    <span class="sidebar-label">Top Voted</span>
                </a>
            </li>
            <li class="">
                <input type="checkbox" id="side-tags">
                <label for="side-tags" class="side-tags-label">
                    <i class="bi bi-tags"></i>
                    <span class="sidebar-label">Tags</span>
                </label>

                <ul class="tags-list">
                    <li class="tags">
                        <a href="http://localhost:3000/search?tag=announcements">
                            <i class="bi bi-megaphone-fill"></i>
                            <span>Announcements</span>
                        </a>
                    </li>
                    <li class="tags">
                        <a href="http://localhost:3000/search?tag=review">
                            <i class="bi bi-check-circle-fill"></i>
                            <span>Review</span>  
                        </a>
                    </li>
                    <li class="tags">
                        <a href="http://localhost:3000/search?tag=query">
                            <i class="bi bi-question-circle-fill"></i>
                            <span>Query</span>
                        </a>
                    </li>
                    <li class="tags">
                        <a href="http://localhost:3000/search?tag=meme">
                            <i class="bi bi-emoji-laughing-fill"></i>
                            <span>Meme</span>
                        </a>
                    </li>
                    <li class="tags">
                        <a href="http://localhost:3000/search?tag=meta">
                            <i class="bi bi-lightbulb-fill"></i>
                            <span>Meta</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="support">
                <a href="#modalSupport" data-bs-toggle="modal">
                    <i class="bi bi-headset"></i>
                    <span class="sidebar-label">Support</span>
                </a>

                <!--support modal-->
                <div class="modal fade" id="modalSupport" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header support-title-container fs-3">
                                Need a Hand?
                            </div>
                            <div class="modal-body support-body-container">
                                <div class="contact-container">
                                    <a href="" class="support-icon-container">
                                        <img src="images/user1.jpg" alt="" class="support-icon">
                                    </a>
                                    <div class="support-name">Francis Bawa</div>
                                    <div class="contact-container-sub">
                                        <a tabindex="0" role="button" class="contact-icon-container" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content="francis_bawa@dlsu.edu.ph">
                                            <i class="bi bi-envelope-fill contact-icon"></i>
                                        </a>
                                        <a tabindex="0" role="button" class="contact-icon-container" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content="0987 654 3210">
                                            <i class="bi bi-telephone-fill contact-icon"></i>
                                        </a>
                                    </div>       
                                </div>
                                <div class="contact-container">
                                    <a href="" class="support-icon-container">
                                        <img src="images/user2.jpg" alt="" class="support-icon">
                                    </a>
                                    <div class="support-name">Max Burce</div>
                                    <div class="contact-container-sub">
                                        <a tabindex="0" role="button" class="contact-icon-container" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content="vincent_burce@dlsu.edu.ph">
                                            <i class="bi bi-envelope-fill contact-icon"></i>
                                        </a>
                                        <a tabindex="0" role="button" class="contact-icon-container" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content="0987 654 3210">
                                            <i class="bi bi-telephone-fill contact-icon"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="contact-container">
                                    <a href="" class="support-icon-container">
                                        <img src="images/user3.png" alt="" class="support-icon">
                                    </a>
                                    <div class="support-name">Zach Gomez</div>
                                    <div class="contact-container-sub">
                                        <a tabindex="0" role="button" class="contact-icon-container" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content="zachary_gomez@dlsu.edu.ph">
                                            <i class="bi bi-envelope-fill contact-icon"></i>
                                        </a>
                                        <a tabindex="0" role="button" class="contact-icon-container" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content="0987 654 3210">
                                            <i class="bi bi-telephone-fill contact-icon"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="contact-container">
                                    <a href="" class="support-icon-container">
                                        <img src="images/user4.png" alt="" class="support-icon">
                                    </a>
                                    <div class="support-name">Ricardo Vicerra</div>
                                    <div class="contact-container-sub">
                                        <a tabindex="0" role="button" class="contact-icon-container" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content="ricardo_vicerra@dlsu.edu.ph">
                                            <i class="bi bi-envelope-fill contact-icon"></i>
                                        </a>
                                        <a tabindex="0" role="button" class="contact-icon-container" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content="0987 654 3210">
                                            <i class="bi bi-telephone-fill contact-icon"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer support-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="support-close">Close</button>
                        </div>
                    </div>
                </div>

            </li>
        </ul>
    </aside>

    <!--main forum content-->
    <div class="thread-container usernow" id="now{{user}}">

        <!--start of forum posts/threads-->
        <div class="posts-container" id="posts-container">
            <!-- CONTENT OF POSTS WILL BE LOADED-->
            {{#if posts.length}}
                {{#each posts}}
                    {{> posts}}
                {{/each}}


                <div class="see-more-container" id="see-more-container">
                    <!-- SEE MORE BUTTON -->
                    <button type="button" class="btn btn-secondary" id="see-more" onclick="loadMore()">See More</button>
                </div>
            {{else}}
            {{/if}}

        </div>

        {{!-- <div class="users-container" id="users-container">
            {{#if users.length}}
                {{#each users}}
                    {{> users}}
                {{/each}}


                <div class="see-more-container" id="see-more-container">
                    <!-- SEE MORE BUTTON -->
                    <button type="button" class="btn btn-secondary" id="see-more" onclick="loadMore()">See More</button>
                </div>
            {{else}}
            {{/if}}

        </div> --}}
        
    </div>
</div>

<!--error modal-->
        <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true" data-bs-backdrop="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                </div>
                <div class="modal-body">
                    <p id="error-message"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                </div>
                </div>
            </div>
            </div>

{{!-- <script src="static/js/searchQuery.js" defer></script> --}}
<script src="static/js/index.js" defer></script>
<script src="static/js/search.js" defer></script>