<link rel="stylesheet" href="/static/css/navbar.css">

<header>
	<nav>
		<div>
			<a href="/" class="logo">
				<img src="/static/img/omsilog-white.png" class="omsilog">
			</a>
		</div>
		<div class="nav-right">
			<input type="text" class="search" placeholder="Search" />
			<div>
				<a class="search-icon-container" href="/search">
					<img id="search-icon-nav" src="/static/img/search-icon-white.png">
				</a>
			</div>
			<div class="dropdown">
				<img src="/static/img/icon1.jpg" width="50" height="50" class="picon formargin1">
				<div class="dropdown-content">
					<a href="/user" class="poption">View Profile</a>
					<a href="/login" class="poption">Logout</a>
				</div>
			</div>
		</div>
	</nav>
</header>