<link rel="stylesheet" href="/static/css/navbar.css">

{{!-- {{#if user}} NOTE: NEED THIS TO MAKE SEARCH BUTTON WORK EVEN IF LOGGED OUT -MAX --}} 
<script src="/static/js/navbar.js" defer></script>
{{!-- {{/if}} --}}

<header>
	<nav>
		<div>
			<a href="/" class="logo">
				<img src="/static/img/omsilog-white.png" class="omsilog">
			</a>
		</div>
		<div class="nav-right">
			<form action="/search" method="GET">
				<input type="text" id="search-box-nav" name="search" class="search" placeholder="Search" />
			</form>
			<div>
				<button id="search-icon-btn-nav">
					<img id="search-icon-nav" src="/static/img/search-icon-white.png">
				</button>
			</div>
			{{#if user}}
			<div class="dropdown" id="now{{user}}">
				<img src="/static/img/icon{{user}}.jpg" width="50" height="50" class="picon formargin1">
				<div class="dropdown-content">
					<a href="/users/{{user}}" class="poption">View Profile</a>
					<a href="" class="poption" id="logout-button">Logout</a>
				</div>
			</div>
			{{else}}
				<a href="/login" class="lp formargin"><span >Log In</span></a>
                <a href="/register" class="lp"><span >Register</span></a>
			{{/if}}

		</div>
	</nav>
</header>