<div class="user">
    <div class="user-info-container">
        <a class="icon-container" href="profile1-logged.html">
            <img class="user-icon" src="{{user.profileImg}}" alt="">
        </a>

        <a class="username-container" href="/users/{{userID}}">
            <h5>{{username}}</h5>
        </a>
    </div>
</div>